.hs-elevate-recent-blog-posts {
  container: blog-grid / inline-size;
}

.hs-elevate-recent-blog-posts__blog-card-container {
  display: flex;
  margin-bottom: var(--hsElevate--spacing--48, 48px);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: var(--hsElevate--spacing--32, 32px);

  @container blog-grid (inline-size >= 768px) {
    :global(.hs-elevate-card--blog__card-wrapper) {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      height: auto;
      width: calc(50% - var(--hsElevate--spacing--32, 32px));
      max-width: calc(50% - var(--hsElevate--spacing--32, 32px));
    }
  }

  @container blog-grid (inline-size >= 1001px) {
    :global(.hs-elevate-card--blog__card-wrapper) {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      height: auto;
      width: calc(33.333% - var(--hsElevate--spacing--32, 32px));
      max-width: calc(33.333% - var(--hsElevate--spacing--32, 32px));
    }
  }
}
