<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Elevate - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% set template_css = "../../assets/dist/css/system.hubl.css" %}
{% extends "../layouts/base.hubl.html" %}

{% block body %}
  <section class="hs-elevate-content-wrapper hs-elevate-content-wrapper--sm hs-elevate-content-padding">

    {% module "password_prompt_heading"
      path="../../components/modules/Heading",
      headingAndTextHeadingLevel="h1",
      headingAndTextHeading={{ template_translations.password_prompt_heading.message }},
      groupStyle={
        "alignment": {
          "text_align": "LEFT"
        },
        "headingStyleVariant": "h1",
        "sectionStyleVariant": "section_variant_1"
      }
    %}

    {% module_block module "password_prompt_description"
      path="../../components/modules/RichText",
      groupStyle={
        "sectionStyleVariant": "section_variant_1"
      }
    %}
      {% module_attribute "richTextContentHTML" %}
        <p>{{ template_translations.password_prompt_subheading.message }}</p>
      {% end_module_attribute %}
    {% end_module_block %}

    <div class="hs-elevate-system-form hs-elevate-system-form--password-prompt">
      <label for="hs-pwd-widget-password">{{ template_translations.password_prompt_label.message }}</label>
      {% module "password_prompt"
        path="@hubspot/password_prompt"
      %}
    </div>
  </section>
{% endblock body %}
