.hs-elevate-placeholder {
  display: flex;
  height: 100%;
  width: 100%;
  padding: var(--hsElevate--spacing--32, 32px) var(--hsElevate--spacing--24, 24px) var(--hsElevate--spacing--12, 12px) var(--hsElevate--spacing--24, 24px);
  border: 1px dashed #516f90;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f8fae6;
  color: #425b76;

  h5 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: var(--hsElevate--spacing--20, 20px);
    text-align: center;
  }
}

.hs-elevate-placeholder__icon {
  width: var(--hsElevate--icon--medium__size, 24px);
  margin-bottom: var(--hsElevate--spacing--10, 10px);
  filter: invert(0.5);
}
