<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
  scaffoldSchemaPath: ./schemas/home.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section",
  %}

    {# Hero banner #}

    {% include_dnd_partial
      path="../sections/hero-banner.hubl.html",
      context={
        "background_color": light_section_2_background_color,
        "heading": {
          "text": scaffold_content.group_banner.heading
        },
        "content": scaffold_content.group_banner.description,
        "buttons": [
          {
            "text": scaffold_content.group_banner.button_text,
            "href": ""
          },
          {
            "text": scaffold_content.group_banner.button_two_text,
            "href": ""
          }
        ],
        "image": {
          "alt": scaffold_content.group_banner.image.alt,
          "src": scaffold_content.group_banner.image.src
        }
      }
    %}

    {# Logo gallery #}

    {% include_dnd_partial
      path="../sections/logo-gallery.hubl.html",
      context={
        "background_color": light_section_2_background_color,
        "content": scaffold_content.group_logo_wall.content,
      }
    %}

    {# Heading with three cards #}

    {% include_dnd_partial
      path="../sections/heading-with-three-cards.hubl.html",
      context={
        "background_color": dark_section_1_background_color,
        "section_variant": "section_variant_4",
        "card_variant": "card_variant_4",
        "heading": {
          "text": scaffold_content.group_heading_and_cards.heading
        },
        "cards": [
          {
            "heading": scaffold_content.group_heading_and_cards.group_card_one.heading,
            "content": scaffold_content.group_heading_and_cards.group_card_one.content
          },
          {
            "heading": scaffold_content.group_heading_and_cards.group_card_two.heading,
            "content": scaffold_content.group_heading_and_cards.group_card_two.content
          },
          {
            "heading": scaffold_content.group_heading_and_cards.group_card_three.heading,
            "content": scaffold_content.group_heading_and_cards.group_card_three.content
          }
        ]
      }
    %}

    {# Multi-row alternating #}

    {% include_dnd_partial path="../sections/multi-row-alternating.hubl.html"
      context={
        "group": [
          {
            "heading": {
              "heading_level": "h3",
              "text": scaffold_content.group_multi_row_alternating.group_one.heading
            },
            "content": scaffold_content.group_multi_row_alternating.group_one.content,
            "image": {
              "src": scaffold_content.group_multi_row_alternating.group_one.image.src,
              "alt": scaffold_content.group_multi_row_alternating.group_one.image.alt
            },
            "button": {
              "show_button": true,
              "text": scaffold_content.group_multi_row_alternating.group_one.button_text
            }
          },
          {
            "heading": {
              "heading_level": "h3",
              "text": scaffold_content.group_multi_row_alternating.group_two.heading
            },
            "content": scaffold_content.group_multi_row_alternating.group_two.content,
            "image": {
              "src": scaffold_content.group_multi_row_alternating.group_two.image.src,
              "alt": scaffold_content.group_multi_row_alternating.group_two.image.alt
            },
            "button": {
              "show_button": true,
              "text": scaffold_content.group_multi_row_alternating.group_two.button_text
            }
          },
          {
            "heading": {
              "heading_level": "h3",
              "text": scaffold_content.group_multi_row_alternating.group_three.heading
            },
            "content": scaffold_content.group_multi_row_alternating.group_three.content,
            "image": {
              "src": scaffold_content.group_multi_row_alternating.group_three.image.src,
              "alt": scaffold_content.group_multi_row_alternating.group_three.image.alt
            },
            "button": {
              "show_button": true,
              "text": scaffold_content.group_multi_row_alternating.group_three.button_text
            }
          }
        ]
      }
    %}

    {# Testimonial slider #}

    {% dnd_section
      background_color={{ light_section_1_background_color }}
    %}
      {% dnd_module
        path="../components/modules/TestimonialSlider",
        groupTestimonial=[
          {
            "groupQuote": {
              "quote": scaffold_content.group_testimonial_slider.testimonial_one.quote or template_translations.shared_testimonials_quote_1.message
            },
            "groupAuthor": {
              "authorName": scaffold_content.group_testimonial_slider.testimonial_one.author or template_translations.shared_testimonials_author_name_1.message,
              "authorTitle": scaffold_content.group_testimonial_slider.testimonial_one.author_title or template_translations.shared_testimonials_author_title_1.message,
              "authorImage": {
                "src": "",
                "alt":  "",
              }
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": scaffold_content.group_testimonial_slider.testimonial_one.image.alt or "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": scaffold_content.group_testimonial_slider.testimonial_one.image.src or get_asset_url("../images/testimonial-user-image-1.png")
              }
            },
            "groupLink": {
              "linkText": scaffold_content.group_testimonial_slider.testimonial_one.button_text or template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": scaffold_content.group_testimonial_slider.testimonial_two.quote or template_translations.shared_testimonials_quote_2.message
            },
            "groupAuthor": {
              "authorName": scaffold_content.group_testimonial_slider.testimonial_two.author or template_translations.shared_testimonials_author_name_2.message,
              "authorTitle": scaffold_content.group_testimonial_slider.testimonial_two.author_title or template_translations.shared_testimonials_author_title_2.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": scaffold_content.group_testimonial_slider.testimonial_two.image.alt or "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": scaffold_content.group_testimonial_slider.testimonial_two.image.src or get_asset_url("../images/testimonial-user-image-2.png")
              }
            },
            "groupLink": {
              "linkText": scaffold_content.group_testimonial_slider.testimonial_two.button_text or template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": scaffold_content.group_testimonial_slider.testimonial_three.quote or template_translations.shared_testimonials_quote_3.message
            },
            "groupAuthor": {
              "authorName": scaffold_content.group_testimonial_slider.testimonial_three.author or template_translations.shared_testimonials_author_name_3.message,
              "authorTitle": scaffold_content.group_testimonial_slider.testimonial_three.author_title or template_translations.shared_testimonials_author_title_3.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": scaffold_content.group_testimonial_slider.testimonial_three.image.alt or "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": scaffold_content.group_testimonial_slider.testimonial_three.image.src or get_asset_url("../images/testimonial-user-image-3.png")
              }
            },
            "groupLink": {
              "linkText": scaffold_content.group_testimonial_slider.testimonial_three.button_text or template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          }
        ],
        groupStyle={
          "cardStyleVariant": "card_variant_2"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Metrics #}

    {% include_dnd_partial
      path="../sections/metrics.hubl.html",
      context={
        "background_color": light_section_3_background_color,
        "metrics": [
          {
            "value": scaffold_content.group_metrics.metric_one,
            "description": scaffold_content.group_metrics.metric_description_one
          },
          {
            "value": scaffold_content.group_metrics.metric_two,
            "description": scaffold_content.group_metrics.metric_description_two
          },
          {
            "value": scaffold_content.group_metrics.metric_three,
            "description": scaffold_content.group_metrics.metric_description_three
          }
        ]
      }
    %}

    {# Call to action #}

    {% include_dnd_partial path="../sections/call-to-action.hubl.html"
      context={
        "heading": {
          "text": scaffold_content.group_cta.heading
        },
        "button": {
          "text": scaffold_content.group_cta.button_text
        }
      }
    %}
  {% end_dnd_area %}
{% endblock body %}
