<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - clickthrough
  goals: [ATTRACT_SUBSCRIBERS_TO_A_NEWSLETTER, GET_CALLBACKS]
  screenshotPath: ../images/template-previews/lp-clickthrough.png
  scaffoldSchemaPath: ./schemas/lp-clickthrough.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{# Template variables #}

{# Default content for image and text paragraphs #}

{% set image_and_text_one_description = "<p>{{ scaffold_content.group_image_and_text_1.description or template_translations.lp_clickthrough_image_and_text_1_description.message }}</p>" %}
{% set image_and_text_two_description = "<p>{{ scaffold_content.group_image_and_text_2.description or template_translations.lp_clickthrough_image_and_text_2_description.message }}</p>" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}

    {# Hero banner section #}

    {% dnd_section
      background_color={{ dark_section_1_background_color }},
      max_width={{ section_width_medium }},
      padding={
        "bottom": section_vertical_spacing_extra_small
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Heading",
            headingAndTextHeadingLevel="h1",
            headingAndTextHeading={{ scaffold_content.group_banner.heading or template_translations.lp_clickthrough_banner_heading.message }},
            groupStyle={
              "alignment": {
                "text_align": "CENTER"
              },
              "headingStyleVariant": "display_2",
              "sectionStyleVariant": "section_variant_4"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/RichText",
            groupStyle={
              "sectionStyleVariant": "section_variant_4"
            }
          %}
            {% module_attribute "richTextContentHTML" %}
              <div style="text-align: center;">
                <p>{{ scaffold_content.group_banner.description or template_translations.lp_clickthrough_banner_description.message }}</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": scaffold_content.group_banner.button_text or template_translations.lp_clickthrough_banner_button_text.message,
                "buttonContentLink": {
                  "url": {
                    "href": scaffold_content.group_banner.button_link.url.href or ""
                  }
                },
                "buttonContentShowIcon": false,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              },
              "buttonStyleSize": "medium",
              "buttonStyleVariant": "tertiary"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Hero banner image section #}

    {% dnd_section
      background_color={{ dark_section_1_background_color }},
      padding={
        "top": 0,
        "bottom": 0
      }
    %}
      {% dnd_module
        path="@hubspot/linked_image",
        img={
          "alt": scaffold_content.group_banner.feature_image.alt or "",
          "loading": "eager",
          "max_height": scaffold_content.group_banner.feature_image.height or 473,
          "max_width": scaffold_content.group_banner.feature_image.width or 1232,
          "size_type": "auto_custom_max",
          "src": scaffold_content.group_banner.feature_image.src or get_asset_url("../images/dashboard.png"),
        },
        horizontal_alignment="CENTER"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Logo gallery section #}

    {% include_dnd_partial
      path="../sections/logo-gallery.hubl.html",
      context={
        "content": scaffold_content.group_logos.heading,
        "logo_colors": light
      }
    %}

    {# Image and text section 1 #}

    {% dnd_section %}
      {% dnd_module
        path="../components/modules/ImageAndText",
        groupImage={
          "imagePosition": "right",
          "image": {
            "alt": scaffold_content.group_image_and_text_1.image.alt or "",
            "loading": "lazy",
            "max_height": scaffold_content.group_image_and_text_1.image.height or 599,
            "max_width": scaffold_content.group_image_and_text_1.image.width or 779,
            "size_type": "auto_custom_max",
            "src": scaffold_content.group_image_and_text_1.image.src or get_asset_url("../images/value-prop-two.png")
          }
        },
        groupContent={
          "headingAndTextHeadingLevel": "h2",
          "headingAndTextHeading": scaffold_content.group_image_and_text_1.heading or template_translations.lp_clickthrough_image_and_text_1_heading.message,
          "richTextContentHTML": image_and_text_one_description|render
        },
        groupButton={
          "showButton": false
        },
        groupStyle={
          "groupContent": {
            "sectionStyleVariant": "section_variant_1",
            "headingStyleVariant": "h2",
            "verticalAlignment": {
              "vertical_align": "MIDDLE"
            }
          },
          "groupButton": {
            "buttonStyleVariant": "primary",
            "buttonStyleSize": "medium"
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Feature image section #}

    {% dnd_section
      padding={
        "top": section_vertical_spacing_small,
        "bottom": section_vertical_spacing_small,
      }
    %}
      {% dnd_module
        path="@hubspot/linked_image",
        img={
          "alt": scaffold_content.feature_image.alt or template_translations.lp_clickthrough_feature_image_alt.message,
          "loading": "lazy",
          "max_height": scaffold_content.feature_image.height or 499,
          "max_width": scaffold_content.feature_image.width or 1232,
          "size_type": "auto_custom_max",
          "src": scaffold_content.feature_image.src or get_asset_url("../images/product-full-width.png"),
        },
        horizontal_alignment="CENTER"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Image and text section 2 #}

    {% dnd_section %}
      {% dnd_module
        path="../components/modules/ImageAndText",
        groupImage={
          "imagePosition": "left",
          "image": {
            "alt": scaffold_content.group_image_and_text_2.image.alt or "",
            "loading": "lazy",
            "max_height": scaffold_content.group_image_and_text_2.image.height or 599,
            "max_width": scaffold_content.group_image_and_text_2.image.width or 779,
            "size_type": "auto_custom_max",
            "src": scaffold_content.group_image_and_text_2.image.src or get_asset_url("../images/value-prop-one.png")
          }
        },
        groupContent={
          "headingAndTextHeadingLevel": "h2",
          "headingAndTextHeading": scaffold_content.group_image_and_text_2.heading or template_translations.lp_clickthrough_image_and_text_2_heading.message,
          "richTextContentHTML": image_and_text_two_description|render
        },
        groupButton={
          "showButton": false
        },
        groupStyle={
          "groupContent": {
            "sectionStyleVariant": "section_variant_1",
            "headingStyleVariant": "h2",
            "verticalAlignment": {
              "vertical_align": "MIDDLE"
            }
          },
          "groupButton": {
            "buttonStyleVariant": "primary",
            "buttonStyleSize": "medium"
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Testimonial section #}

    {% dnd_section
      background_color={{ light_section_2_background_color }}
    %}
      {% dnd_module
        path="../components/modules/TestimonialSlider",
        groupTestimonial=[
          {
            "groupQuote": {
              "quote": template_translations.shared_testimonials_quote_1.message
            },
            "groupAuthor": {
              "authorName": template_translations.shared_testimonials_author_name_1.message,
              "authorTitle": template_translations.shared_testimonials_author_title_1.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-user-image-1.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": template_translations.shared_testimonials_quote_2.message
            },
            "groupAuthor": {
              "authorName": template_translations.shared_testimonials_author_name_2.message,
              "authorTitle": template_translations.shared_testimonials_author_title_2.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-user-image-2.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": template_translations.shared_testimonials_quote_3.message
            },
            "groupAuthor": {
              "authorName": template_translations.shared_testimonials_author_name_3.message,
              "authorTitle": template_translations.shared_testimonials_author_title_3.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-user-image-3.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          }
        ],
        groupStyle={
          shape: "sharp",
          cardStyleVariant: "card_variant_2"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Call to action section #}

    {% include_dnd_partial
      path="../sections/call-to-action-centered.hubl.html",
      context={
        "section_background_color": light_section_2_background_color,
        "cards": [
          {
            "image": {
              "src": scaffold_content.group_call_to_action.image.src,
              "alt": scaffold_content.group_call_to_action.image.alt
            },
            "heading": {
              "text": scaffold_content.group_call_to_action.heading
            },
            "content": scaffold_content.group_call_to_action.description,
            "button": {
              "text": scaffold_content.group_call_to_action.button_text,
              "href": scaffold_content.group_call_to_action.button_link.url.href
            }
          }
        ]
      }
    %}

  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
