<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - event signup 1
  goals: [RUN_AN_EVENT_AND_GAIN_SIGNUPS]
  screenshotPath: ../images/template-previews/lp-event-signup-one.png
  scaffoldSchemaPath: ./schemas/lp-event-signup-one.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{# Template variables #}

{# Default content for products #}

{% set product_one_description = "<p>{{ scaffold_content.group_products.group_product_one.description or template_translations.lp_event_signup_one_products_product_one_description.message }}</p>" %}
{% set product_two_description = "<p>{{ scaffold_content.group_products.group_product_two.description or template_translations.lp_event_signup_one_products_product_two_description.message }}</p>" %}
{% set product_three_description = "<p>{{ scaffold_content.group_products.group_product_three.description or template_translations.lp_event_signup_one_products_product_three_description.message }}</p>" %}
{% set product_four_description = "<p>{{ scaffold_content.group_products.group_product_four.description or template_translations.lp_event_signup_one_products_product_four_description.message }}</p>" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}

    {# Countdown section #}

    {% include_dnd_partial
      path="../sections/countdown.hubl.html",
      context={
        "max_width": section_width_wide,
        "vertical_spacing": section_vertical_spacing_small,
        "heading": {
          "text": scaffold_content.group_countdown.heading or template_translations.lp_event_signup_one_heading.message,
          "heading_level": "h1",
          "style_variant": "h1"
        },
        "button": {
          "text": scaffold_content.group_countdown.button_text or template_translations.lp_event_signup_one_button_text.message,
          "href": scaffold_content.group_countdown.button_link.url.href
        }
      }
    %}

    {# Testimonial cards section #}

    {% include_dnd_partial
      path="../sections/testimonial-cards.hubl.html",
      context={
        "vertical_spacing": section_vertical_spacing_small,
        "testimonials": [
          {
            "quote": scaffold_content.group_testimonials.testimonial_one or template_translations.lp_event_signup_one_testimonial_one_text.message
          },
          {
            "quote": scaffold_content.group_testimonials.testimonial_two or template_translations.lp_event_signup_one_testimonial_two_text.message
          },
          {
            "quote": scaffold_content.group_testimonials.testimonial_three or template_translations.lp_event_signup_one_testimonial_three_text.message
          }
        ]
      }
    %}

    {# Features section #}

    {% include_dnd_partial
      path="../sections/features.hubl.html",
      context={
        "background_color": dark_section_1_background_color,
        "section_variant": "section_variant_4",
        "heading": {
          "text": scaffold_content.group_features.heading or template_translations.lp_event_signup_one_features_heading.message,
        },
        "description": scaffold_content.group_features.description or template_translations.lp_event_signup_one_features_subheading.message,
        "image": {
          "src": get_asset_url("../images/stage.png"),
          "alt": "",
          "width": 372,
          "height": 524
        },
        "features": [
          {
            "icon": "lightbulb",
            "heading": {
              "text": scaffold_content.group_features.group_feature_one.heading or template_translations.lp_event_signup_one_features_feature_one_heading.message
            },
            "content": scaffold_content.group_features.group_feature_one.description or template_translations.lp_event_signup_one_features_feature_one_description.message
          },
          {
            "icon": "book",
            "heading": {
              "text": scaffold_content.group_features.group_feature_two.heading or template_translations.lp_event_signup_one_features_feature_two_heading.message
            },
            "content": scaffold_content.group_features.group_feature_two.description or template_translations.lp_event_signup_one_features_feature_two_description.message
          },
          {
            "icon": "microchip",
            "heading": {
              "text": scaffold_content.group_features.group_feature_three.heading or template_translations.lp_event_signup_one_features_feature_three_heading.message
            },
            "content": scaffold_content.group_features.group_feature_three.description or template_translations.lp_event_signup_one_features_feature_three_description.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_four.heading or template_translations.lp_event_signup_one_features_feature_four_heading.message
            },
            "content": scaffold_content.group_features.group_feature_four.description or template_translations.lp_event_signup_one_features_feature_four_description.message
          },
          {
            "icon": "comments",
            "heading": {
              "text": scaffold_content.group_features.group_feature_five.heading or template_translations.lp_event_signup_one_features_feature_five_heading.message
            },
            "content": scaffold_content.group_features.group_feature_five.description or template_translations.lp_event_signup_one_features_feature_five_description.message
          },
          {
            "icon": "rocket",
            "heading": {
              "text": scaffold_content.group_features.group_feature_six.heading or template_translations.lp_event_signup_one_features_feature_six_heading.message
            },
            "content": scaffold_content.group_features.group_feature_six.description or template_translations.lp_event_signup_one_features_feature_six_description.message
          },
          {
            "icon": "handshake",
            "heading": {
              "text": scaffold_content.group_features.group_feature_seven.heading or template_translations.lp_event_signup_one_features_feature_seven_heading.message
            },
            "content": scaffold_content.group_features.group_feature_seven.description or template_translations.lp_event_signup_one_features_feature_seven_description.message
          },
          {
            "icon": "trophy",
            "heading": {
              "text": scaffold_content.group_features.group_feature_eight.heading or template_translations.lp_event_signup_one_features_feature_eight_heading.message
            },
            "content": scaffold_content.group_features.group_feature_eight.description or template_translations.lp_event_signup_one_features_feature_eight_description.message
          }
        ]
      }
    %}

    {# Speakers section #}

    {% include_dnd_partial
      path="../sections/team-members.hubl.html",
      context={
        "heading": {
          "text": scaffold_content.group_speakers.heading or template_translations.lp_event_signup_one_speakers_heading.message,
          "style_variant": "h2"
        },
        "card_variant": "card_variant_2",
        "content": scaffold_content.group_speakers.description or template_translations.lp_event_signup_one_speakers_subheading.message,
        "team_member": [
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-1.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-2.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-3.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-4.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-5.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-6.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-7.png")
            }
          },
          {
            "name": template_translations.lp_event_signup_one_speaker_name.message,
            "role": template_translations.lp_event_signup_one_speaker_description.message,
            "image": {
              "src": get_asset_url("../images/team-member-use-background-8.png")
            }
          }
        ]
      }
    %}

    {# Products and services section #}

    {% dnd_section
      background_color={{ light_section_2_background_color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Heading",
            headingAndTextHeadingLevel="h2",
            headingAndTextHeading={{ scaffold_content.group_products.heading or template_translations.lp_event_signup_one_products_heading.message }},
            groupStyle={
              "alignment": {
                "text_align": "CENTER"
              },
              "headingStyleVariant": "h2",
              "sectionStyleVariant": "section_variant_2"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          padding={
            "bottom": spacing_32
          }
        %}
          {% dnd_module
            path="../components/modules/Card",
            groupCards=[
              {
                "groupIcon": {
                  "icon": {
                    "name": "circle-check",
                    "type": "SOLID"
                  }
                },
                "groupContent": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_products.group_product_one.heading or template_translations.lp_event_signup_one_products_product_one_name.message,
                  "richTextContentHTML": product_one_description|render
                },
                "groupButton": {
                  "showButton": false
                }
              },
              {
                "groupIcon": {
                  "icon": {
                    "name": "circle-check",
                    "type": "SOLID"
                  }
                },
                "groupContent": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_products.group_product_two.heading or template_translations.lp_event_signup_one_products_product_two_name.message,
                  "richTextContentHTML": product_two_description|render
                },
                "groupButton": {
                  "showButton": false
                }
              }
            ],
            groupStyle={
              "groupContent": {
                "headingStyleVariant": "h4"
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          padding={
            "bottom": spacing_32
          }
        %}
          {% dnd_module
            path="../components/modules/Card",
            groupCards=[
              {
                "groupIcon": {
                  "icon": {
                    "name": "circle-check",
                    "type": "SOLID"
                  }
                },
                "groupContent": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_products.group_product_three.heading or template_translations.lp_event_signup_one_products_product_three_name.message,
                  "richTextContentHTML": product_three_description|render
                },
                "groupButton": {
                  "showButton": false
                }
              },
              {
                "groupIcon": {
                  "icon": {
                    "name": "circle-check",
                    "type": "SOLID"
                  }
                },
                "groupContent": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_products.group_product_four.heading or template_translations.lp_event_signup_one_products_product_four_name.message,
                  "richTextContentHTML": product_four_description|render
                },
                "groupButton": {
                  "showButton": false
                }
              }
            ],
            groupStyle={
              "groupContent": {
                "headingStyleVariant": "h4"
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": scaffold_content.group_products.button_text or template_translations.lp_event_signup_one_products_button_text.message,
                "buttonContentLink": {
                  "url": {
                    "href": scaffold_content.group_products.button_link.url.href
                  }
                },
                "buttonContentShowIcon": true,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
