<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - information request 1
  goals: [GET_CALLBACKS]
  screenshotPath: ../images/template-previews/lp-information-request-one.png
  scaffoldSchemaPath: ./schemas/lp-information-request-one.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{# Default content for accordions #}

{% set accordion_one_answer = "<p>{{ scaffold_content.group_faq.group_question_one.answer or template_translations.lp_information_request_one_faq_answer_one.message }}</p>" %}
{% set accordion_two_answer = "<p>{{ scaffold_content.group_faq.group_question_two.answer or template_translations.lp_information_request_one_faq_answer_two.message }}</p>" %}
{% set accordion_three_answer = "<p>{{ scaffold_content.group_faq.group_question_three.answer or template_translations.lp_information_request_one_faq_answer_three.message }}</p>" %}
{% set accordion_four_answer = "<p>{{ scaffold_content.group_faq.group_question_four.answer or template_translations.lp_information_request_one_faq_answer_four.message }}</p>" %}
{% set accordion_five_answer = "<p>{{ scaffold_content.group_faq.group_question_five.answer or template_translations.lp_information_request_one_faq_answer_five.message }}</p>" %}
{% set accordion_six_answer = "<p>{{ scaffold_content.group_faq.group_question_six.answer or template_translations.lp_information_request_one_faq_answer_six.message }}</p>" %}


{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}

    {# Hero banner section #}

    {% include_dnd_partial
      path="../sections/hero-banner-two-column-text.hubl.html",
      context={
        "section_padding_top": section_vertical_spacing_extra_small,
        "section_padding_bottom": section_vertical_spacing_extra_small,
        "tag_line": {
          "text": scaffold_content.group_hero_banner.tag_line or template_translations.lp_information_request_one_tag_line.message
        },
        "heading": {
          "text": scaffold_content.group_hero_banner.heading or template_translations.lp_information_request_one_banner_heading.message,
          "style_variant": "display_2"
        },
        "paragraph": {
          "text": scaffold_content.group_hero_banner.paragraph or template_translations.lp_information_request_one_banner_paragraph.message
        },
        "button": {
          "text": scaffold_content.group_hero_banner.button_text or template_translations.lp_information_request_one_banner_button_text.message,
          "href": scaffold_content.group_hero_banner.button_link.url.href or "",
        },
        "image": {
          "src": scaffold_content.group_hero_banner.image.src or get_asset_url("../images/products-banner.png"),
          "alt": scaffold_content.group_hero_banner.image.alt or "",
          "width": scaffold_content.group_hero_banner.image.width or 650,
          "height": scaffold_content.group_hero_banner.image.height or 650,
          "loading": scaffold_content.group_hero_banner.image.loading or "eager"
        }
      }
    %}

    {# Logo gallery section #}

    {% include_dnd_partial
      path="../sections/logo-gallery.hubl.html",
      context={
        "content": scaffold_content.group_logo_gallery.content or template_translations.lp_information_request_one_logo_gallery_content.message,
        "logo_colors": "dark"
      }
    %}

    {# Three cards features section #}

    {% include_dnd_partial
      path="../sections/heading-with-three-cards.hubl.html",
      context={
        "background_color": dark_section_1_background_color,
        "section_variant": "section_variant_4",
        "card_variant": "card_variant_4",
        "card_heading_level": "h4",
        "label": scaffold_content.group_features.label or template_translations.lp_information_request_one_features_label.message,
        "heading": {
          "text": scaffold_content.group_features.heading or template_translations.lp_information_request_one_features_heading.message
        },
        "cards": [
          {
            "icon": "pencil",
            "heading": scaffold_content.group_features.group_card_one.heading or template_translations.lp_information_request_one_card_one_heading.message,
            "content": scaffold_content.group_features.group_card_one.content or template_translations.lp_information_request_one_card_one_content.message
          },
          {
            "icon": "share-nodes",
            "heading": scaffold_content.group_features.group_card_two.heading or template_translations.lp_information_request_one_card_two_heading.message,
            "content": scaffold_content.group_features.group_card_two.content or template_translations.lp_information_request_one_card_two_content.message
          },
          {
            "icon": "chart-line",
            "heading": scaffold_content.group_features.group_card_three.heading or template_translations.lp_information_request_one_card_three_heading.message,
            "content": scaffold_content.group_features.group_card_three.content or template_translations.lp_information_request_one_card_three_content.message
          }
        ]
      }
    %}

    {# Testimonial section #}

    {% dnd_section %}
      {% dnd_module
        path="../components/modules/TestimonialSlider",
        groupTestimonial=[
          {
            "groupQuote": {
              "quote": scaffold_content.group_testimonials.group_testimonial_one.quote or template_translations.lp_information_request_one_testimonial_one_quote.message
            },
            "groupAuthor": {
              "authorName": scaffold_content.group_testimonials.group_testimonial_one.author_name or template_translations.lp_information_request_one_testimonial_one_author_name.message,
              "authorTitle": scaffold_content.group_testimonials.group_testimonial_one.author_title or template_translations.lp_information_request_one_testimonial_one_author_title.message,
              "authorImage": {
                "alt": scaffold_content.group_testimonials.group_testimonial_one.image.alt or "",
                "max_height": scaffold_content.group_testimonials.group_testimonial_one.image.height or 300,
                "max_width": scaffold_content.group_testimonials.group_testimonial_one.image.width or 300,
                "size_type": "auto_custom_max",
                "src": scaffold_content.group_testimonials.group_testimonial_one.image.src or get_asset_url("../images/testimonial-author-small.png")
              }
            },
            "groupImage": {
              "showImage": false,
              "image": {}
            },
            "groupLink": {
              "linkText": "",
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": scaffold_content.group_testimonials.group_testimonial_two.quote or template_translations.lp_information_request_one_testimonial_two_quote.message
            },
            "groupAuthor": {
              "authorName": scaffold_content.group_testimonials.group_testimonial_two.author_name or template_translations.lp_information_request_one_testimonial_two_author_name.message,
              "authorTitle": scaffold_content.group_testimonials.group_testimonial_two.author_title or template_translations.lp_information_request_one_testimonial_two_author_title.message,
              "authorImage": {
                "alt": scaffold_content.group_testimonials.group_testimonial_two.image.alt or "",
                "max_height": scaffold_content.group_testimonials.group_testimonial_two.image.height or 300,
                "max_width": scaffold_content.group_testimonials.group_testimonial_two.image.width or 300,
                "size_type": "auto_custom_max",
                "src": scaffold_content.group_testimonials.group_testimonial_two.image.src or get_asset_url("../images/testimonial-author-large.png")
              }
            },
            "groupImage": {
              "showImage": false,
              "image": {}
            },
            "groupLink": {
              "linkText": "",
              "link": {}
            }
          }
        ],
        groupStyle={
          shape: "rounded",
          cardStyleVariant: "card_variant_2"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# FAQ section #}

    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Heading",
            headingAndTextHeading={{ scaffold_content.group_faq.heading or template_translations.lp_information_request_one_faq_heading.message }},
            groupStyle={
              "alignment": {
                "text_align": "CENTER"
              },
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            width=8,
            padding={
              "mobile": {
                "bottom": spacing_32
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="../components/modules/Accordion",
                icon="plus",
                groupAccordions=[
                  {
                    "title": scaffold_content.group_faq.group_question_one.question or template_translations.lp_information_request_one_faq_question_one.message,
                    "richTextContentHTML": accordion_one_answer|render
                  },
                  {
                    "title": scaffold_content.group_faq.group_question_two.question or template_translations.lp_information_request_one_faq_question_two.message,
                    "richTextContentHTML": accordion_two_answer|render
                  },
                  {
                    "title": scaffold_content.group_faq.group_question_three.question or template_translations.lp_information_request_one_faq_question_three.message,
                    "richTextContentHTML": accordion_three_answer|render
                  },
                  {
                    "title": scaffold_content.group_faq.group_question_four.question or template_translations.lp_information_request_one_faq_question_four.message,
                    "richTextContentHTML": accordion_four_answer|render
                  },
                  {
                    "title": scaffold_content.group_faq.group_question_five.question or template_translations.lp_information_request_one_faq_question_five.message,
                    "richTextContentHTML": accordion_five_answer|render
                  },
                  {
                    "title": scaffold_content.group_faq.group_question_six.question or template_translations.lp_information_request_one_faq_question_six.message,
                    "richTextContentHTML": accordion_six_answer|render
                  }
                ],
                groupStyle={
                  "cardStyleVariant": "card_variant_1"
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=8,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/linked_image",
                img={
                  "alt": scaffold_content.group_faq.image.alt or "",
                  "max_height": scaffold_content.group_faq.image.height or 651,
                  "max_width": scaffold_content.group_faq.image.width or 372,
                  "size_type": "auto_custom_max",
                  "src": scaffold_content.group_faq.image.src or get_asset_url("../images/features.png")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
