<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - information request 2
  goals: [GET_CALLBACKS]
  screenshotPath: ../images/template-previews/lp-information-request-two.png
  scaffoldSchemaPath: ./schemas/lp-information-request-two.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{% block body %}
  {% dnd_area "dnd_area" label="Main section" %}

    {# Hero banner section #}

    {% include_dnd_partial
      path="../sections/hero-banner-centered.hubl.html",
      context={
        "heading": {
          "text": scaffold_content.group_hero_banner.heading or template_translations.lp_information_request_two_hero_heading.message,
          "style_variant": "h1"
        },
        "content": scaffold_content.group_hero_banner.content or template_translations.lp_information_request_two_hero_content.message,
        "button": {
          "text": scaffold_content.group_hero_banner.button_text or template_translations.lp_information_request_two_hero_button_text.message,
          "href": scaffold_content.group_hero_banner.button_link.url.href or "",
          "size": "large",
          "style": "primary",
          "show_icon": true
        },
        "max_width": 1000
      }
    %}

    {# Multi-row alternating section #}

    {% include_dnd_partial
      path="../sections/multi-row-alternating.hubl.html",
      context={
        "group": [
          {
            "heading": {
              "text": scaffold_content.group_collaboration.heading or template_translations.lp_information_request_two_collaboration_heading.message
            },
            "content": scaffold_content.group_collaboration.content or template_translations.lp_information_request_two_collaboration_content.message,
            "image": {
              "src": scaffold_content.group_collaboration.collaboration_visual.image.src,
              "alt": scaffold_content.group_collaboration.collaboration_visual.image.alt,
              "width": scaffold_content.group_collaboration.collaboration_visual.image.width,
              "height": scaffold_content.group_collaboration.collaboration_visual.image.height,
              "loading": scaffold_content.group_collaboration.collaboration_visual.image.loading,
              "position": "right"
            },
            "button": {
              "text": scaffold_content.group_collaboration.button_text or template_translations.lp_information_request_two_collaboration_button_text.message,
              "href": scaffold_content.group_collaboration.button_link.url.href or "",
              "show_button": false
            }
          },
          {
            "heading": {
              "text": scaffold_content.group_content_creation.heading or template_translations.lp_information_request_two_content_creation_heading.message
            },
            "content": scaffold_content.group_content_creation.content or template_translations.lp_information_request_two_content_creation_content.message,
            "image": {
              "src": scaffold_content.group_content_creation.content_creation_visual.image.src,
              "alt": scaffold_content.group_content_creation.content_creation_visual.image.alt,
              "width": scaffold_content.group_content_creation.content_creation_visual.image.width,
              "height": scaffold_content.group_content_creation.content_creation_visual.image.height,
              "loading": scaffold_content.group_content_creation.content_creation_visual.image.loading,
              "position": "left"
            },
            "button": {
              "text": scaffold_content.group_content_creation.button_text or template_translations.lp_information_request_two_content_creation_button_text.message,
              "href": scaffold_content.group_content_creation.button_link.url.href or "",
              "show_button": false
            }
          },
          {
            "heading": {
              "text": scaffold_content.group_multichannel.heading or template_translations.lp_information_request_two_multichannel_heading.message
            },
            "content": scaffold_content.group_multichannel.content or template_translations.lp_information_request_two_multichannel_content.message,
            "image": {
              "src": scaffold_content.group_multichannel.multichannel_image_visual.image.src,
              "alt": scaffold_content.group_multichannel.multichannel_image_visual.image.alt,
              "width": scaffold_content.group_multichannel.multichannel_image_visual.image.width,
              "height": scaffold_content.group_multichannel.multichannel_image_visual.image.height,
              "loading": scaffold_content.group_multichannel.multichannel_image_visual.image.loading,
              "position": "right"
            },
            "button": {
              "text": scaffold_content.group_multichannel.button_text or template_translations.lp_information_request_two_multichannel_button_text.message,
              "href": scaffold_content.group_multichannel.button_link.url.href or "",
              "show_button": false
            }
          }
        ]
      }
    %}

    {# Pricing section #}

    {% dnd_section background_color={{ dark_section_1_background_color }} %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Heading",
            headingAndTextHeadingLevel="h2",
            headingAndTextHeading={{ scaffold_content.group_pricing.heading or template_translations.lp_information_request_two_pricing_heading.message }},
            groupStyle={
              "alignment": { "text_align": "CENTER" },
              "headingStyleVariant": "h2",
              "sectionStyleVariant": "section_variant_4"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/PricingCard",
            groupStyle={
              "groupCard": {
                "cardStyleVariant": "card_variant_4"
              },
              "groupButton": {
                "buttonStyleVariant": "tertiary"
              }
            },
            groupPricingCards=[
              {
                "groupSummary": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_pricing.group_pricing_starter.name or template_translations.lp_information_request_two_pricing_starter_name.message,
                  "description": scaffold_content.group_pricing.group_pricing_starter.description or template_translations.lp_information_request_two_pricing_starter_description.message,
                  "price": scaffold_content.group_pricing.group_pricing_starter.price or template_translations.lp_information_request_two_pricing_starter_price.message,
                  "timePeriod": scaffold_content.group_pricing.group_pricing_starter.time_period or template_translations.lp_information_request_two_pricing_starter_time_period.message
                },
                "groupPlanFeatures": {
                  "headingAndTextHeadingLevel": "h4",
                  "headingAndTextHeading": scaffold_content.group_pricing.group_pricing_starter.features_heading or template_translations.lp_information_request_two_pricing_starter_features_heading.message,
                  "groupFeatures": [
                    {"feature": scaffold_content.group_pricing.group_pricing_starter.group_features.feature_1 or template_translations.lp_information_request_two_pricing_starter_feature_1.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_starter.group_features.feature_2 or template_translations.lp_information_request_two_pricing_starter_feature_2.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_starter.group_features.feature_3 or template_translations.lp_information_request_two_pricing_starter_feature_3.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_starter.group_features.feature_4 or template_translations.lp_information_request_two_pricing_starter_feature_4.message}
                  ]
                },
                "groupButton": {
                  "showButton": true,
                  "buttonContentText": scaffold_content.group_pricing.group_pricing_starter.button_text or template_translations.lp_information_request_two_pricing_starter_button_text.message,
                  "buttonContentLink": {
                    "url": {"href": scaffold_content.group_pricing.group_pricing_starter.button_link.url.href or ""},
                    "open_in_new_tab": true
                  },
                  "buttonContentShowIcon": false,
                  "buttonContentIcon": {"name": "dollar-sign"},
                  "buttonContentIconPosition": "right"
                }
              },
              {
                "groupSummary": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_pricing.group_pricing_pro.name or template_translations.lp_information_request_two_pricing_pro_name.message,
                  "description": scaffold_content.group_pricing.group_pricing_pro.description or template_translations.lp_information_request_two_pricing_pro_description.message,
                  "price": scaffold_content.group_pricing.group_pricing_pro.price or template_translations.lp_information_request_two_pricing_pro_price.message,
                  "timePeriod": scaffold_content.group_pricing.group_pricing_pro.time_period or template_translations.lp_information_request_two_pricing_pro_time_period.message
                },
                "groupPlanFeatures": {
                  "headingAndTextHeadingLevel": "h4",
                  "headingAndTextHeading": scaffold_content.group_pricing.group_pricing_pro.features_heading or template_translations.lp_information_request_two_pricing_pro_features_heading.message,
                  "groupFeatures": [
                    {"feature": scaffold_content.group_pricing.group_pricing_pro.group_features.feature_1 or template_translations.lp_information_request_two_pricing_pro_feature_1.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_pro.group_features.feature_2 or template_translations.lp_information_request_two_pricing_pro_feature_2.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_pro.group_features.feature_3 or template_translations.lp_information_request_two_pricing_pro_feature_3.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_pro.group_features.feature_4 or template_translations.lp_information_request_two_pricing_pro_feature_4.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_pro.group_features.feature_5 or template_translations.lp_information_request_two_pricing_pro_feature_5.message}
                  ]
                },
                "groupButton": {
                  "showButton": true,
                  "buttonContentText": scaffold_content.group_pricing.group_pricing_pro.button_text or template_translations.lp_information_request_two_pricing_pro_button_text.message,
                  "buttonContentLink": {
                    "url": {"href": scaffold_content.group_pricing.group_pricing_pro.button_link.url.href or ""},
                    "open_in_new_tab": true
                  },
                  "buttonContentShowIcon": false,
                  "buttonContentIcon": {"name": "dollar-sign"},
                  "buttonContentIconPosition": "right"
                }
              },
              {
                "groupSummary": {
                  "headingAndTextHeadingLevel": "h3",
                  "headingAndTextHeading": scaffold_content.group_pricing.group_pricing_enterprise.name or template_translations.lp_information_request_two_pricing_enterprise_name.message,
                  "description": scaffold_content.group_pricing.group_pricing_enterprise.description or template_translations.lp_information_request_two_pricing_enterprise_description.message,
                  "price": scaffold_content.group_pricing.group_pricing_enterprise.price or template_translations.lp_information_request_two_pricing_enterprise_price.message,
                  "timePeriod": scaffold_content.group_pricing.group_pricing_enterprise.time_period or template_translations.lp_information_request_two_pricing_enterprise_time_period.message
                },
                "groupPlanFeatures": {
                  "headingAndTextHeadingLevel": "h4",
                  "headingAndTextHeading": scaffold_content.group_pricing.group_pricing_enterprise.features_heading or template_translations.lp_information_request_two_pricing_enterprise_features_heading.message,
                  "groupFeatures": [
                    {"feature": scaffold_content.group_pricing.group_pricing_enterprise.group_features.feature_1 or template_translations.lp_information_request_two_pricing_enterprise_feature_1.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_enterprise.group_features.feature_2 or template_translations.lp_information_request_two_pricing_enterprise_feature_2.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_enterprise.group_features.feature_3 or template_translations.lp_information_request_two_pricing_enterprise_feature_3.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_enterprise.group_features.feature_4 or template_translations.lp_information_request_two_pricing_enterprise_feature_4.message},
                    {"feature": scaffold_content.group_pricing.group_pricing_enterprise.group_features.feature_5 or template_translations.lp_information_request_two_pricing_enterprise_feature_5.message}
                  ]
                },
                "groupButton": {
                  "showButton": true,
                  "buttonContentText": scaffold_content.group_pricing.group_pricing_enterprise.button_text or template_translations.lp_information_request_two_pricing_enterprise_button_text.message,
                  "buttonContentLink": {
                    "url": {"href": scaffold_content.group_pricing.group_pricing_enterprise.button_link.url.href or ""},
                    "open_in_new_tab": true
                  },
                  "buttonContentShowIcon": false,
                  "buttonContentIcon": {"name": "dollar-sign"},
                  "buttonContentIconPosition": "right"
                }
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# FAQ section #}

    {% include_dnd_partial
      path="../sections/faq.hubl.html",
      context={
        "heading": {
          "text": scaffold_content.group_faq.heading or template_translations.lp_information_request_two_faq_heading.message
        },
        "faqs": [
          {
            "title": scaffold_content.group_faq.group_faqs.question_1 or template_translations.lp_information_request_two_faq_question_1.message,
            "content": scaffold_content.group_faq.group_faqs.answer_1 or ""
          },
          {
            "title": scaffold_content.group_faq.group_faqs.question_2 or template_translations.lp_information_request_two_faq_question_2.message,
            "content": scaffold_content.group_faq.group_faqs.answer_2 or ""
          },
          {
            "title": scaffold_content.group_faq.group_faqs.question_3 or template_translations.lp_information_request_two_faq_question_3.message,
            "content": scaffold_content.group_faq.group_faqs.answer_3 or ""
          },
          {
            "title": scaffold_content.group_faq.group_faqs.question_4 or template_translations.lp_information_request_two_faq_question_4.message,
            "content": scaffold_content.group_faq.group_faqs.answer_4 or ""
          },
          {
            "title": scaffold_content.group_faq.group_faqs.question_5 or template_translations.lp_information_request_two_faq_question_5.message,
            "content": scaffold_content.group_faq.group_faqs.answer_5 or ""
          }
        ]
      }
    %}
  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
