<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - meeting booking 2
  goals: [GET_VISITORS_TO_BOOK_A_MEETING]
  screenshotPath: ../images/template-previews/lp-meeting-booking-two.png
  scaffoldSchemaPath: ./schemas/lp-meeting-booking-two.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{% block body %}
  {% dnd_area "dnd_area" label="Main section" %}

    {# Hero banner section #}

    {% dnd_section
      background_color={{ dark_section_1_background_color }},
      max_width={{ section_width_medium }},
      padding={
        "bottom": section_vertical_spacing_extra_small
      }
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Heading",
            headingAndTextHeading={{ scaffold_content.group_banner.heading or template_translations.lp_meeting_booking_two_banner_heading.message }},
            groupStyle={
              "alignment": {
                "text_align": "CENTER"
              },
              "headingStyleVariant": "display_2",
              "sectionStyleVariant": "section_variant_4"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/RichText",
            groupStyle={
              "sectionStyleVariant": "section_variant_4"
            }
          %}
            {% module_attribute "richTextContentHTML" %}
              <div style="text-align: center;">
                <p>{{ scaffold_content.group_banner.description or template_translations.lp_meeting_booking_two_banner_description.message }}</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../components/modules/Button",
            groupButtons=[
              {
                "buttonContentText": scaffold_content.group_banner.button_text or template_translations.lp_meeting_booking_two_banner_button_text.message,
                "buttonContentLink": {
                  "url": {
                    "href": scaffold_content.group_hero_banner.group_button_one.button_link.url.href or ""
                  }
                },
                "buttonContentShowIcon": false,
                "buttonContentIcon": {
                  "name": "arrow-right"
                },
                "buttonContentIconPosition": "right"
              }
            ],
            groupStyle={
              "alignment": {
                "horizontal_align": "CENTER"
              },
              "buttonStyleSize": "medium",
              "buttonStyleVariant": "tertiary"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Hero banner image section #}

    {% dnd_section
      background_color={{ dark_section_1_background_color }},
      padding={
        "top": 0,
        "bottom": 0
      }
    %}
      {% dnd_module
        path="@hubspot/linked_image",
        img={
          "alt": scaffold_content.group_banner.image.alt or "",
          "loading": scaffold_content.group_banner.image.loading or "eager",
          "max_height": scaffold_content.group_banner.image.height or 473,
          "max_width": scaffold_content.group_banner.image.width or 1232,
          "size_type": "auto_custom_max",
          "src": scaffold_content.group_banner.image.src or get_asset_url("../images/dashboard-full.png"),
        },
        horizontal_alignment="CENTER"
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Services section #}

    {% include_dnd_partial
      path="../sections/heading-with-three-cards.hubl.html",
      context={
        "background_color": light_section_2_background_color,
        "section_variant": "section_variant_2",
        "card_variant": "card_variant_1",
        "label": scaffold_content.group_services.label or template_translations.lp_meeting_booking_two_services_label.message,
        "heading": {
          "text": scaffold_content.group_services.heading or template_translations.lp_meeting_booking_two_services_heading.message
        },
        "cards": [
          {
            "heading": scaffold_content.group_services.group_service_one.heading,
            "content": scaffold_content.group_services.group_service_one.content or template_translations.lp_meeting_booking_two_service_one_content.message
          },
          {
            "icon": "chart-column",
            "heading": scaffold_content.group_services.group_service_two.heading,
            "content": scaffold_content.group_services.group_service_two.content or template_translations.lp_meeting_booking_two_service_two_content.message
          },
          {
            "icon": "timeline",
            "heading": scaffold_content.group_services.group_service_three.heading,
            "content": scaffold_content.group_services.group_service_three.content or template_translations.lp_meeting_booking_two_service_three_content.message
          }
        ]
      }
    %}

    {# Benefits section #}

    {% include_dnd_partial
      path="../sections/products-and-services-list.hubl.html",
      context={
        "background_color": dark_section_1_background_color,
        "section_variant": "section_variant_4",
        "heading": scaffold_content.group_benefits.heading or template_translations.lp_meeting_booking_two_benefits_heading.message,
        "image": {
          "alt": scaffold_content.group_benefits.image.alt or "",
          "loading": scaffold_content.group_benefits.image.loading,
          "max_height": scaffold_content.group_benefits.image.height,
          "max_width": scaffold_content.group_benefits.image.width,
          "src": scaffold_content.group_benefits.image.src or get_asset_url("../images/products-services-feature-image-dark.png")
        },
        "list": [
          {"content": scaffold_content.group_benefits.group_benefit_one.content or template_translations.lp_meeting_booking_two_benefit_one_content.message},
          {"content": scaffold_content.group_benefits.group_benefit_two.content or template_translations.lp_meeting_booking_two_benefit_two_content.message},
          {"content": scaffold_content.group_benefits.group_benefit_three.content or template_translations.lp_meeting_booking_two_benefit_three_content.message},
          {"content": scaffold_content.group_benefits.group_benefit_four.content or template_translations.lp_meeting_booking_two_benefit_four_content.message},
          {"content": scaffold_content.group_benefits.group_benefit_five.content or template_translations.lp_meeting_booking_two_benefit_five_content.message}
        ]
      }
    %}

    {# Products and services section #}

    {% include_dnd_partial
      path="../sections/products-and-services.hubl.html",
      context={
        "background_color": light_section_1_background_color,
        "section_variant": "section_variant_1",
        "heading": scaffold_content.group_products.heading,
        "card_variant": "card_variant_2",
        "cards": [
          {
            "heading": scaffold_content.group_products.group_product_one.heading,
            "content": scaffold_content.group_products.group_product_one.content or template_translations.lp_meeting_booking_two_product_one_content.message
          },
          {
            "heading": scaffold_content.group_products.group_product_two.heading,
            "content": scaffold_content.group_products.group_product_two.content or template_translations.lp_meeting_booking_two_product_two_content.message
          },
          {
            "heading": scaffold_content.group_products.group_product_three.heading,
            "content": scaffold_content.group_products.group_product_three.content or template_translations.lp_meeting_booking_two_product_three_content.message
          },
          {
            "heading": scaffold_content.group_products.group_product_four.heading,
            "content": scaffold_content.group_products.group_product_four.content or template_translations.lp_meeting_booking_two_product_four_content.message
          },
          {
            "heading": scaffold_content.group_products.group_product_five.heading,
            "content": scaffold_content.group_products.group_product_five.content or template_translations.lp_meeting_booking_two_product_five_content.message
          },
          {
            "heading": scaffold_content.group_products.group_product_six.heading,
            "content": scaffold_content.group_products.group_product_six.content or template_translations.lp_meeting_booking_two_product_six_content.message
          }
        ]
      }
    %}

    {# Metrics section #}

    {% include_dnd_partial
      path="../sections/metrics.hubl.html",
      context={
        "section_variant": "section_variant_3",
        "background_color": light_section_3_background_color,
        "metrics": [
          {
            "value": scaffold_content.group_metrics.group_metric_one.value,
            "description": scaffold_content.group_metrics.group_metric_one.description
          },
          {
            "value": scaffold_content.group_metrics.group_metric_two.value,
            "description": scaffold_content.group_metrics.group_metric_two.description
          },
          {
            "value": scaffold_content.group_metrics.group_metric_three.value,
            "description": scaffold_content.group_metrics.group_metric_three.description
          }
        ]
      }
    %}

  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
