<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - products
  goals: [SHOWCASE_PRODUCTS]
  screenshotPath: ../images/template-previews/lp-products.png
  scaffoldSchemaPath: ./schemas/lp-products.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{# Template variables #}

{# Default content for accordions #}

{% set accordion_one_answer = "<p>{{ scaffold_content.group_faqs.group_faq_one.answer or template_translations.shared_faq_answer_1.message }}</p>" %}
{% set accordion_two_answer = "<p>{{ scaffold_content.group_faqs.group_faq_two.answer or template_translations.shared_faq_answer_2.message }}</p>" %}
{% set accordion_three_answer = "<p>{{ scaffold_content.group_faqs.group_faq_three.answer or template_translations.shared_faq_answer_3.message }}</p>" %}
{% set accordion_four_answer = "<p>{{ scaffold_content.group_faqs.group_faq_four.answer or template_translations.shared_faq_answer_4.message }}</p>" %}
{% set accordion_five_answer = "<p>{{ scaffold_content.group_faqs.group_faq_five.answer or template_translations.shared_faq_answer_5.message }}</p>" %}

{# Default content for cards #}

{% set card_one_content = "<p>{{ scaffold_content.group_cards.group_card_one.description or template_translations.lp_products_card_one_content.message }}</p>" %}
{% set card_two_content = "<p>{{ scaffold_content.group_cards.group_card_two.description or template_translations.lp_products_card_two_content.message }}</p>" %}
{% set card_three_content = "<p>{{ scaffold_content.group_cards.group_card_three.description or template_translations.lp_products_card_three_content.message }}</p>" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}

    {# Hero banner section #}

    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column
            width=6,
            padding={
              "default": {
                "bottom": 0
              },
              "mobile": {
                "bottom": spacing_32
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="../components/modules/Heading",
                headingAndTextHeadingLevel="h1",
                headingAndTextHeading={{ scaffold_content.group_banner.heading or template_translations.lp_products_heading.message }},
                groupStyle={
                  "alignment": {
                    "text_align": "LEFT"
                  },
                  "headingStyleVariant": "display_2",
                  "sectionStyleVariant": "section_variant_1"
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="../components/modules/RichText",
                groupStyle={
                  "sectionStyleVariant": "section_variant_1"
                }
              %}
                {% module_attribute "richTextContentHTML"%}
                  <p>{{ scaffold_content.group_banner.description or template_translations.lp_products_description.message }}</p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="../components/modules/Button",
                groupButtons=[
                  {
                    "buttonContentText": scaffold_content.group_banner.button_text or template_translations.lp_products_button_text.message,
                    "buttonContentLink": {
                      "url": {
                        "href": scaffold_content.group_banner.button_link.url.href or ""
                      }
                    },
                    "buttonContentShowIcon": true,
                    "buttonContentIcon": {
                      "name": "arrow-right"
                    },
                    "buttonContentIconPosition": "right"
                  }
                ],
                groupStyle={
                  "buttonStyleVariant": "primary"
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/linked_image",
                img={
                  "alt": scaffold_content.group_banner.image.alt or "",
                  "loading": "eager",
                  "max_height": scaffold_content.group_banner.image.height or 805,
                  "max_width": scaffold_content.group_banner.image.width or 740,
                  "size_type": "auto_custom_max",
                  "src": scaffold_content.group_banner.image.src or get_asset_url("../images/products-banner.png")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Logo gallery section #}

    {% include_dnd_partial
      path="../sections/logo-gallery.hubl.html",
      context={
        "content": scaffold_content.group_logos.heading,
        "logo_colors": light
      }
    %}

    {# Cards section #}

    {% dnd_section %}
      {% dnd_module
        path="../components/modules/Card",
        groupCards=[
          {
            "groupIcon": {
              "icon": {
                "name": "pencil-alt"
              }
            },
            "groupImage": {
              "image": {
                "src": get_asset_url("../images/newsletter.png"),
                "alt": "",
                "loading": "eager"
              }
            },
            "groupContent": {
              "headingAndTextHeadingLevel": "h2",
              "headingAndTextHeading": scaffold_content.group_cards.group_card_one.heading or template_translations.lp_products_card_one_heading.message,
              "richTextContentHTML": card_one_content|render
            },
            "groupButton": {
              "showButton": false
            }
          },
          {
            "groupIcon": {
              "icon": {
                "name": "share-alt"
              }
            },
            "groupImage": {
              "image": {
                "src": get_asset_url("../images/newsletter.png"),
                "alt": "",
                "loading": "eager"
              }
            },
            "groupContent": {
              "headingAndTextHeadingLevel": "h2",
              "headingAndTextHeading": scaffold_content.group_cards.group_card_two.heading or template_translations.lp_products_card_two_heading.message,
              "richTextContentHTML": card_two_content|render
            },
            "groupButton": {
              "showButton": false
            }
          },
          {
            "groupIcon": {
              "icon": {
                "name": "chart-bar"
              }
            },
            "groupImage": {
              "image": {
                "src": get_asset_url("../images/newsletter.png"),
                "alt": "",
                "loading": "eager"
              }
            },
            "groupContent": {
              "headingAndTextHeadingLevel": "h2",
              "headingAndTextHeading": scaffold_content.group_cards.group_card_three.heading or template_translations.lp_products_card_three_heading.message,
              "richTextContentHTML": card_three_content|render
            },
            "groupButton": {
              "showButton": false
            }
          }
        ],
        groupStyle={
          "groupCard": {
            "cardOrientation": "column",
            "cardStyleVariant": "card_variant_2"
          },
          "groupContent": {
            "headingStyleVariant": "h4"
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Features section #}

    {% include_dnd_partial
      path="../sections/features.hubl.html",
      context={
        "background_color": light_section_2_background_color,
        "section_variant": "section_variant_2",
        "heading": {
          "text": scaffold_content.group_features.heading
        },
        "description": scaffold_content.group_features.description,
        "image": {
          "src": scaffold_content.group_features.image.src,
          "alt": scaffold_content.group_features.image.alt
        },
        "features": [
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_one.heading
            },
            "content": scaffold_content.group_features.group_feature_one.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_two.heading
            },
            "content": scaffold_content.group_features.group_feature_two.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_three.heading
            },
            "content": scaffold_content.group_features.group_feature_three.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_four.heading
            },
            "content": scaffold_content.group_features.group_feature_four.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_five.heading
            },
            "content": scaffold_content.group_features.group_feature_five.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_six.heading
            },
            "content": scaffold_content.group_features.group_feature_six.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_seven.heading
            },
            "content": scaffold_content.group_features.group_feature_seven.description
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_eight.heading
            },
            "content": scaffold_content.group_features.group_feature_eight.description
          }
        ]
      }
    %}

    {# Testimonials section #}

    {% dnd_section
      background_color={{ dark_section_1_background_color }}
    %}
      {% dnd_module
        path="../components/modules/TestimonialSlider",
        groupTestimonial=[
          {
            "groupQuote": {
              "quote": template_translations.shared_testimonials_quote_1.message
            },
            "groupAuthor": {
              "authorName": template_translations.shared_testimonials_author_name_1.message,
              "authorTitle": template_translations.shared_testimonials_author_title_1.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-user-image-1.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": template_translations.shared_testimonials_quote_2.message
            },
            "groupAuthor": {
              "authorName": template_translations.shared_testimonials_author_name_2.message,
              "authorTitle": template_translations.shared_testimonials_author_title_2.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-user-image-2.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          },
          {
            "groupQuote": {
              "quote": template_translations.shared_testimonials_quote_3.message
            },
            "groupAuthor": {
              "authorName": template_translations.shared_testimonials_author_name_3.message,
              "authorTitle": template_translations.shared_testimonials_author_title_3.message,
              "authorImage": {}
            },
            "groupImage": {
              "showImage": true,
              "image": {
                "alt": "",
                "loading": "lazy",
                "max_height": 300,
                "max_width": 300,
                "size_type": "auto_custom_max",
                "src": get_asset_url("../images/testimonial-user-image-3.png")
              }
            },
            "groupLink": {
              "linkText": template_translations.shared_testimonials_link_text.message,
              "link": {}
            }
          }
        ],
        groupStyle={
          shape: "sharp",
          cardStyleVariant: "card_variant_3"
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Multi-row alternating section #}

    {% include_dnd_partial path="../sections/multi-row-alternating.hubl.html"
      context={
        "group": [
          {
            "image": {
              "src": scaffold_content.group_image_and_text_1.image.src or get_asset_url("../images/value-prop-one.png"),
              "alt": scaffold_content.group_image_and_text_1.image.alt or ""
            },
            "heading": {
              "text": scaffold_content.group_image_and_text_1.heading or template_translations.lp_products_image_and_text_1_heading.message
            },
            "content": scaffold_content.group_image_and_text_1.description or template_translations.lp_products_image_and_text_1_description.message,
            "button": {
              "show_button": false
            }
          },
          {
            "image": {
              "src": scaffold_content.group_image_and_text_2.image.src or get_asset_url("../images/value-prop-two.png"),
              "alt": scaffold_content.group_image_and_text_2.image.alt or ""
            },
            "heading": {
              "text": scaffold_content.group_image_and_text_2.heading or template_translations.lp_products_image_and_text_2_heading.message
            },
            "content": scaffold_content.group_image_and_text_2.description or template_translations.lp_products_image_and_text_2_description.message,
            "button": {
              "show_button": false
            }
          },
          {
            "image": {
              "src": scaffold_content.group_image_and_text_3.image.src or get_asset_url("../images/value-prop-three.png"),
              "alt": scaffold_content.group_image_and_text_3.image.alt or ""
            },
            "heading": {
              "text": scaffold_content.group_image_and_text_3.heading or template_translations.lp_products_image_and_text_3_heading.message
            },
            "content": scaffold_content.group_image_and_text_3.description or template_translations.lp_products_image_and_text_3_description.message,
            "button": {
              "show_button": false
            }
          }
        ]
      }
    %}

    {# Call to action section #}

    {% include_dnd_partial
      path="../sections/two-column-call-to-action.hubl.html",
      context={
        "cards": [
          {
            "image": {
              "src": scaffold_content.group_call_to_action.image.src,
              "alt": scaffold_content.group_call_to_action.image.alt,
            },
            "heading": {
              "text": scaffold_content.group_call_to_action.heading
            },
            "button": {
              "text": scaffold_content.group_call_to_action.button_text,
              "href": scaffold_content.group_call_to_action.button_link.url.href
            }
          }
        ]
      }
    %}

    {# FAQ section #}

    {% include_dnd_partial
      path="../sections/faq.hubl.html",
      context={
        "background_color": light_section_2_background_color,
        "card_variant": "card_variant_1",
        "heading": {
          "text": scaffold_content.group_faqs.heading
        },
        "faqs": [
          {
            "title": scaffold_content.group_faqs.group_faq_one.question or template_translations.shared_faq_question_1.message,
            "content": accordion_one_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_two.question or template_translations.shared_faq_question_2.message,
            "content": accordion_two_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_three.question or template_translations.shared_faq_question_3.message,
            "content": accordion_three_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_four.question or template_translations.shared_faq_question_4.message,
            "content": accordion_four_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_five.question or template_translations.shared_faq_question_5.message,
            "content": accordion_five_answer|render
          }
        ]
      }
    %}


  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
