<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page - product free trial 2
  goals: [SHOWCASE_PRODUCTS]
  screenshotPath: ../images/template-previews/lp-product-free-trial-two.png
  scaffoldSchemaPath: ./schemas/lp-product-free-trial-two.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{% block header %}
  {% global_partial path="./partials/lp-header.hubl.html" %}
{% endblock header %}

{% set accordion_one_answer = "<p>{{ scaffold_content.group_faq.group_faq_one.content or template_translations.lp_product_free_trial_two_faq_one_content.message }}</p>" %}
{% set accordion_two_answer = "<p>{{ scaffold_content.group_faq.group_faq_two.content or template_translations.lp_product_free_trial_two_faq_two_content.message }}</p>" %}
{% set accordion_three_answer = "<p>{{ scaffold_content.group_faq.group_faq_three.content or template_translations.lp_product_free_trial_two_faq_three_content.message }}</p>" %}
{% set accordion_four_answer = "<p>{{ scaffold_content.group_faq.group_faq_four.content or template_translations.lp_product_free_trial_two_faq_four_content.message }}</p>" %}
{% set accordion_five_answer = "<p>{{ scaffold_content.group_faq.group_faq_five.content or template_translations.lp_product_free_trial_two_faq_five_content.message }}</p>" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}

    {# Hero banner section #}

    {% include_dnd_partial
      path="../sections/hero-video-two-column.hubl.html",
      context={
        "tag_line": {
          "text": scaffold_content.group_hero_banner.tag_line or template_translations.lp_product_free_trial_two_hero_tag_line.message
        },
        "heading": {
          "text": scaffold_content.group_hero_banner.heading or template_translations.lp_product_free_trial_two_hero_heading.message,
        },
        "paragraph": {
          "text": scaffold_content.group_hero_banner.paragraph or template_translations.lp_product_free_trial_two_hero_paragraph.message
        },
        "button": {
          "text": scaffold_content.group_hero_banner.button_text or template_translations.lp_product_free_trial_two_hero_button.message,
          "href": scaffold_content.group_hero_banner.button_link.url.href or "",
        },
        "video": {
          "embed_url": "https://www.youtube.com/watch?v=q89-gvYRO_I",
          "thumbnail": scaffold_content.group_hero_banner.video.thumbnail.src or get_asset_url("../images/video-placeholder.png")
        }
      }
    %}

    {# Features overview section #}

    {% include_dnd_partial
      path="../sections/products-and-services-three-column.hubl.html",
      context={
        "heading": {
          "text": scaffold_content.group_highlights.heading or template_translations.lp_product_free_trial_two_highlights_overview_heading.message
        },
        "features": [
          {
            "heading": {
              "text": scaffold_content.group_highlights.group_highlight_one.heading
            },
            "content": scaffold_content.group_highlights.group_highlight_one.content or template_translations.lp_product_free_trial_two_highlight_one_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_highlights.group_highlight_two.heading
            },
            "content": scaffold_content.group_highlights.group_highlight_two.content or template_translations.lp_product_free_trial_two_highlight_two_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_highlights.group_highlight_three.heading
            },
            "content": scaffold_content.group_highlights.group_highlight_three.content or template_translations.lp_product_free_trial_two_highlight_three_content.message
          }
        ]
      }
    %}

    {# Features section #}

    {% include_dnd_partial
      path="../sections/features.hubl.html",
      context={
        "background_color": dark_section_1_background_color,
        "section_variant": "section_variant_4",
        "heading": {
          "text": scaffold_content.group_features.heading
        },
        "description": scaffold_content.group_features.description or template_translations.lp_product_free_trial_two_features_description.message,
        "image": scaffold_content.group_features.image,
        "features": [
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_one.heading
            },
            "content": scaffold_content.group_features.group_feature_one.content or template_translations.lp_product_free_trial_two_feature_one_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_two.heading
            },
            "content": scaffold_content.group_features.group_feature_two.content or template_translations.lp_product_free_trial_two_feature_two_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_three.heading
            },
            "content": scaffold_content.group_features.group_feature_three.content or template_translations.lp_product_free_trial_two_feature_three_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_four.heading
            },
            "content": scaffold_content.group_features.group_feature_four.content or template_translations.lp_product_free_trial_two_feature_four_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_five.heading
            },
            "content": scaffold_content.group_features.group_feature_five.content or template_translations.lp_product_free_trial_two_feature_five_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_six.heading
            },
            "content": scaffold_content.group_features.group_feature_six.content or template_translations.lp_product_free_trial_two_feature_six_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_seven.heading
            },
            "content": scaffold_content.group_features.group_feature_seven.content or template_translations.lp_product_free_trial_two_feature_seven_content.message
          },
          {
            "heading": {
              "text": scaffold_content.group_features.group_feature_eight.heading
            },
            "content": scaffold_content.group_features.group_feature_eight.content or template_translations.lp_product_free_trial_two_feature_eight_content.message
          }
        ]
      }
    %}

    {# FAQ section #}

    {% include_dnd_partial
      path="../sections/faq.hubl.html",
      context={
        "heading": {
          "text": scaffold_content.group_faq.heading,
        },
        "faqs": [
          {
            "title": scaffold_content.group_faq.group_faq_one.title,
            "content": accordion_one_answer|render
          },
          {
            "title": scaffold_content.group_faq.group_faq_two.title,
            "content": accordion_two_answer|render
          },
          {
            "title": scaffold_content.group_faq.group_faq_three.title,
            "content": accordion_three_answer|render
          },
          {
            "title": scaffold_content.group_faq.group_faq_four.title,
            "content": accordion_four_answer|render
          },
          {
            "title": scaffold_content.group_faq.group_faq_five.title,
            "content": accordion_five_answer|render
          }
        ]
      }
    %}

  {% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/lp-footer.hubl.html" %}
{% endblock footer %}
