<!--
  templateType: podcast_episode
  isAvailableForNewContent: true
  label: Podcast detail
  screenshotPath: ./images/template-previews/podcast-episode.png
-->
{% set template_css = "../../assets/dist/css/podcast-detail.hubl.css" %}
{% extends "./layouts/base.hubl.html" %}

{% block body %}

<div class="hs-elevate-content-wrapper hs-elevate-content-padding--extra-small">
  <div class="hs-elevate-link-wrapper">
    <a href="{{ content_type_group.values.hs_absolute_url }}" class="hs-elevate-back-link">
      {% icon
        name="arrow-left"
        purpose="decorative"
        style="SOLID"
      %}
      <span class="hs-elevate-back-link__text">{{ template_translations.podcast_episode_back_to_all_episodes.message }}</span>
    </a>
  </div>

  {% module "podcast_detail" path="@hubspot/podcast_detail"
    podcast={
      "show_id": dynamic_page_hubdb_row.hs_group_id,
      "episode_id": dynamic_page_hubdb_row.hs_id
    }
  %}
</div>

{% endblock body %}
