<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing
  screenshotPath: ../images/template-previews/pricing.png
  scaffoldSchemaPath: ./schemas/pricing.scaffold_schema.json
-->
{% extends "./layouts/base.hubl.html" %}

{# Default content for accordions #}
{% set accordion_one_answer = "<p>{{ scaffold_content.group_faqs.group_faq_one.answer or template_translations.shared_faq_answer_1.message }}</p>" %}
{% set accordion_two_answer = "<p>{{ scaffold_content.group_faqs.group_faq_two.answer or template_translations.shared_faq_answer_2.message }}</p>" %}
{% set accordion_three_answer = "<p>{{ scaffold_content.group_faqs.group_faq_three.answer or template_translations.shared_faq_answer_3.message }}</p>" %}
{% set accordion_four_answer = "<p>{{ scaffold_content.group_faqs.group_faq_four.answer or template_translations.shared_faq_answer_4.message }}</p>" %}
{% set accordion_five_answer = "<p>{{ scaffold_content.group_faqs.group_faq_five.answer or template_translations.shared_faq_answer_5.message }}</p>" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section"
  %}

    {# Hero banner #}

    {% include_dnd_partial
      path="../sections/hero-banner-centered.hubl.html",
      context={
        "heading": {
          "text": scaffold_content.group_banner.heading
        },
        "content": scaffold_content.group_banner.description,
        "button": {
          "text": scaffold_content.group_banner.button_text,
          "href": scaffold_content.group_banner.button_link.url.href
        }
      }
    %}

    {# Pricing cards #}

    {% include_dnd_partial
      path="../sections/pricing.hubl.html",
      context={
        "pricing_cards": [
          {
            "heading": scaffold_content.group_pricing_cards.group_pricing_card_one.heading,
            "description": scaffold_content.group_pricing_cards.group_pricing_card_one.description,
            "price": scaffold_content.group_pricing_cards.group_pricing_card_one.price,
            "time_period": scaffold_content.group_pricing_cards.group_pricing_card_one.time_period,
            "features_title": scaffold_content.group_pricing_cards.group_pricing_card_one.features_title,
            "features": [
              scaffold_content.group_pricing_cards.group_pricing_card_one.group_features.feature_one,
              scaffold_content.group_pricing_cards.group_pricing_card_one.group_features.feature_two,
              scaffold_content.group_pricing_cards.group_pricing_card_one.group_features.feature_three,
              scaffold_content.group_pricing_cards.group_pricing_card_one.group_features.feature_four
            ],
            "button_text": scaffold_content.group_pricing_cards.group_pricing_card_one.button_text,
            "button_link": scaffold_content.group_pricing_cards.group_pricing_card_one.button_link.url.href
          },
          {
            "heading": scaffold_content.group_pricing_cards.group_pricing_card_two.heading,
            "description": scaffold_content.group_pricing_cards.group_pricing_card_two.description,
            "price": scaffold_content.group_pricing_cards.group_pricing_card_two.price,
            "time_period": scaffold_content.group_pricing_cards.group_pricing_card_two.time_period,
            "features_title": scaffold_content.group_pricing_cards.group_pricing_card_two.features_title,
            "features": [
              scaffold_content.group_pricing_cards.group_pricing_card_two.group_features.feature_one,
              scaffold_content.group_pricing_cards.group_pricing_card_two.group_features.feature_two,
              scaffold_content.group_pricing_cards.group_pricing_card_two.group_features.feature_three,
              scaffold_content.group_pricing_cards.group_pricing_card_two.group_features.feature_four
            ],
            "button_text": scaffold_content.group_pricing_cards.group_pricing_card_two.button_text,
            "button_link": scaffold_content.group_pricing_cards.group_pricing_card_two.button_link.url.href
          },
          {
            "heading": scaffold_content.group_pricing_cards.group_pricing_card_three.heading,
            "description": scaffold_content.group_pricing_cards.group_pricing_card_three.description,
            "price": scaffold_content.group_pricing_cards.group_pricing_card_three.price,
            "time_period": scaffold_content.group_pricing_cards.group_pricing_card_three.time_period,
            "features_title": scaffold_content.group_pricing_cards.group_pricing_card_three.features_title,
            "features": [
              scaffold_content.group_pricing_cards.group_pricing_card_three.group_features.feature_one,
              scaffold_content.group_pricing_cards.group_pricing_card_three.group_features.feature_two,
              scaffold_content.group_pricing_cards.group_pricing_card_three.group_features.feature_three,
              scaffold_content.group_pricing_cards.group_pricing_card_three.group_features.feature_four
            ],
            "button_text": scaffold_content.group_pricing_cards.group_pricing_card_three.button_text,
            "button_link": scaffold_content.group_pricing_cards.group_pricing_card_three.button_link.url.href
          }
        ]
      }
    %}

    {# Two column CTA #}

    {% include_dnd_partial
      path="../sections/two-column-call-to-action.hubl.html",
      context={
        "section_padding_top": section_vertical_spacing_extra_small,
        "section_padding_bottom": section_vertical_spacing_extra_small,
        "cards": [
          {
            "image": {
              "src": scaffold_content.group_two_col_call_to_action.image.src,
              "alt": scaffold_content.group_two_col_call_to_action.image.alt,
            },
            "heading": {
              "text": scaffold_content.group_two_col_call_to_action.heading
            },
            "button": {
              "text": scaffold_content.group_two_col_call_to_action.button_text,
              "href": scaffold_content.group_two_col_call_to_action.button_link.url.href
            }
          }
        ]
      }
    %}

    {# Logo gallery #}

    {% include_dnd_partial
      path="../sections/logo-gallery.hubl.html",
      context={
        "content": scaffold_content.group_logos.heading,
        "logo_colors": light
      }
    %}

    {# FAQs #}

    {% include_dnd_partial
      path="../sections/faq.hubl.html",
      context={
        "card_variant": "card_variant_2",
        "heading": {
          "text": scaffold_content.group_faqs.heading
        },
        "faqs": [
          {
            "title": scaffold_content.group_faqs.group_faq_one.question or template_translations.shared_faq_question_1.message,
            "content": accordion_one_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_two.question or template_translations.shared_faq_question_2.message,
            "content": accordion_two_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_three.question or template_translations.shared_faq_question_3.message,
            "content": accordion_three_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_four.question or template_translations.shared_faq_question_4.message,
            "content": accordion_four_answer|render
          },
          {
            "title": scaffold_content.group_faqs.group_faq_five.question or template_translations.shared_faq_question_5.message,
            "content": accordion_five_answer|render
          }
        ]
      }
    %}

    {# Call to action #}

    {% include_dnd_partial
      path="../sections/call-to-action.hubl.html"
      context={
        "background_color": light_section_3_background_color,
        "section_variant": "section_variant_3",
        "heading": {
          "text": scaffold_content.group_call_to_action.heading or template_translations.pricing_call_to_action_heading.message,
          "style_variant": "h1"
        },
        "button": {
          "text": scaffold_content.group_call_to_action.button_text or template_translations.pricing_call_to_action_button_text.message,
          "href": scaffold_content.group_call_to_action.button_link.url.href
        }
      }
    %}

  {% end_dnd_area %}
{% endblock body %}
