.hs-elevate-button {
  display: inline-flex;
  min-width: 150px;
  padding: var(--hsElevate--button__padding);
  align-items: center;
  justify-content: space-around;
  text-align: center;
  white-space: normal;

  &:hover {
    cursor: pointer;
  }
}

.hs-elevate-button__icon {
  display: block;
  height: 1.25rem;
  flex: 0 0 auto;
  fill: currentcolor;
}

.hs-elevate-button__icon--left {
  margin-right: 1rem;
  order: 0;
}

.hs-elevate-button__icon--right {
  margin-left: 1rem;
  order: 3;
}
